* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  background: rgb(190, 190, 190);
}
.sidebar {
  left: 0;
  padding: 20px;
  box-shadow: 0 0 5px black;
  height: 95vh;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 33%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}
.main {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 20px;
}
.conferenceroom {
  grid-column: 1;
  grid-row: 1;
  background-image: url("assets/images/conference-room.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.reception {
  grid-column: 1;
  grid-row: span 2;
  background-image: url("assets/images/reception.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.rest {
  grid-column: span 2;
  grid-row-start: 1;
  grid-row-end: 5;
  background-image: url("assets/images/rest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.card-employee {
  box-shadow: 0 0 6px rgb(106, 106, 106);
  width: 21rem;
}
.serversroom {
  grid-column: 2;
  grid-row: 1;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: large;
  font-weight: bold;
}
.securityroom {
  grid-column: 3;
  grid-row: 1;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: large;
  font-weight: bold;
}
.staffroom {
  grid-column: 2;
  grid-row: 3;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: large;
  font-weight: bold;
}
.vault {
  grid-column: 3;
  grid-row: 3;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: large;
  font-weight: bold;
}
.conferenceroom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: large;
  font-weight: bold;
}
.reception {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: large;
  font-weight: bold;
}
.modal input,
.modal select {
  margin-bottom: 15px;
}
.card-buttons {
  border-left: solid 1px gray;
}
.card-employee {
  cursor: pointer;
}
.card-name {
  font-weight: bold;
}
#exampleModal3 {
  display: none;
}

.reception.zone-empty,
.serversroom.zone-empty,
.securityroom.zone-empty,
.vault.zone-empty {
  border: solid 2px red;
  box-shadow: inset 0 0 0 2000px rgba(255, 0, 0, 0.3);
}

@media (max-width: 767px) {
  body {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    height: auto;
    border-bottom-right-radius: 0;
    box-shadow: none;
  }

  .main {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  .conferenceroom,
  .reception,
  .rest {
    height: max-content;
    padding: 100px;
    gap: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    height: auto;
    border-bottom-right-radius: 0;
    box-shadow: none;
  }
  .main {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  .conferenceroom,
  .reception,
  .rest {
    height: max-content;
    padding: 100px;
    gap: 10px;
  }
}
