* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  background: rgb(190, 190, 190);
}
.sidebar {
  left: 0;
  padding: 20px;
  box-shadow: 0 0 5px black;
  height: 95vh;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 30%;
}
.main {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 20px;
}
.conferenceroom {
  grid-column: 1;
  grid-row: 1;
  background-image: url('conference-room.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.reception {
  grid-column: 1;
  grid-row: span 2 ;
  background-image: url('reception.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.rest{
  grid-column: span 2;
  grid-row-start: 1;
  grid-row-end: 5 ;
  background-image: url('rest.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  
}
.card-employee{
  box-shadow: 0 0 6px rgb(106, 106, 106);
  width: 21rem;
}
.serversroom{
  grid-column: 2;
  grid-row: 1;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: large;
font-weight: bold;
}
.securityuroom{
  grid-column: 3;
  grid-row: 1;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
font-size: large;
font-weight: bold;
}
.staffroom{
  grid-column: 2;
  grid-row: 3;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
font-size: large;
font-weight: bold;
}
.vault{
  grid-column: 3;
  grid-row: 3;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
font-size: large;
font-weight: bold;
}
.conferenceroom{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-size: large;
font-weight: bold;
}
.reception{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-size: large;
font-weight: bold;
}
.modal input , .modal select{
  margin-bottom: 15px ;
}
.card-buttons{
  border-left: solid 1px gray;
}




